@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng ký tài khoản - Shop quần áo DHND</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Style/assets/images/logo/logo.jpg">

    <!-- Core css -->
    <link href="~/Style/assets/css/app.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('~/Style/assets/images/logo/logo.jpg')">
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-h-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between m-b-30">
                                        <img class="img-fluid" alt="" src="~/Style/assets/images/logo/logo.jpg" style="width: 45px;">
                                        <h2 class="m-b-0">Sign Up</h2>
                                    </div>
                                    <form id="registerForm">
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="userName">Username:</label>
                                            <input type="text" class="form-control" id="userName" name="username" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="password">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-semibold" for="confirmPassword">Confirm Password:</label>
                                            <input type="password" class="form-control" id="confirmPassword" name="checkpassword" placeholder="Confirm Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between p-t-15">
                                                <span class="font-size-13 text-muted">
                                                    Do you already have an account?
                                                    <a class="small" href="/Login/Login"> Sign In</a>
                                                </span>
                                                <button class="btn btn-primary" id="btnSign">Sign Up</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>

    <!-- Core Vendors JS -->
    <script src="~/Style/assets/js/vendors.min.js"></script>
    <!-- page js -->
    <!-- Core JS -->
    <script src="~/Style/assets/js/app.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnSign").click(function (event) {
                event.preventDefault();
                Register();
            });
        });

        function Register() {
            var UserName = $("#userName").val().trim();
            var PassWord = $("#password").val().trim();
            var CheckPassWord = $("#confirmPassword").val().trim();


            $.ajax({
                url: '/Login/Register',
                type: 'POST',
                data: {
                    username: UserName,
                    password: PassWord,
                    checkpassword: CheckPassWord
                },
                success: function (response) {
                    if (response.status === "Đăng ký thành công") {
                        Swal.fire({
                            icon: 'success',
                            title: response.status,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(function () {
                            window.location.href = "/Login/Login";
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: response.status,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                }
            });
        }

        function escapeInput(input) {
            return input
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#x27;")
                .replace(/\//g, "&#x2F;");
        }
        function validateInput(input) {
            const scriptPattern = /<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi;
            const apiPattern = /^(https?:\/\/)([^\/]+)/i;

            if (scriptPattern.test(input)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Cảnh báo ! Bạn không được nhập dữ liệu dạng Script vào các ô nhập liệu',
                });
                return false;
            }

            // Kiểm tra xem input có chứa URL API không
            if (apiPattern.test(input)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Cảnh báo ! Bạn không được nhập dữ liệu từ API bên ngoài',
                });
                return false;
            }

            return true;
        };

        // Hàm kiểm tra toàn bộ biểu mẫu trước khi gửi
        function validateForm() {
            const inputElements = document.querySelectorAll('input, textarea');
            for (let inputElement of inputElements) {
                if (!validateInput(inputElement.value)) {
                    return false;
                }
            }
            return true;
        };

        document.addEventListener("DOMContentLoaded", () => {
            const inputs = document.querySelectorAll("input, textarea");
            for (let input of inputs) {
                input.addEventListener("input", (event) => {
                    const value = event.target.value;
                    if (!validateInput(value)) {
                        event.target.value = '';
                    } else if (!validateAPICall(value)) {
                        event.target.value = value.replace(/^(https?:\/\/)([^\/]+)/i, "");
                    } else {
                        event.target.value = value.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, "");
                    }
                });
            }
        });

        function validateAPICall(input) {
            const apiPattern = /^(https?:\/\/)([^\/]+)/i;
            return !apiPattern.test(input);
        }
    </script>
</body>

</html>
