USE [master]
GO
/****** Object:  Database [ShopDHND]    Script Date: CN - 19 - 05 - 2024 12:19:43 PM ******/
CREATE DATABASE [ShopDHND]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDHND', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopDHND.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopDHND_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopDHND_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDHND].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDHND]
GO
/****** Object:  Table [dbo].[Category]    Script Date: CN - 19 - 05 - 2024 12:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id_cate] [int] IDENTITY(1,1) NOT NULL,
	[name_cate] [nvarchar](200) NOT NULL,
	[time_Start] [int] NOT NULL,
	[time_Update] [int] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id_cate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: CN - 19 - 05 - 2024 12:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[id_login] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[id_role] [int] NOT NULL,
	[creadate] [int] NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[id_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: CN - 19 - 05 - 2024 12:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id_prod] [int] IDENTITY(1,1) NOT NULL,
	[id_cate] [int] NOT NULL,
	[name_prod] [nvarchar](200) NOT NULL,
	[des_prod] [nvarchar](200) NOT NULL,
	[img_prod] [nvarchar](200) NOT NULL,
	[status_prod] [bit] NOT NULL,
	[time_Start] [int] NOT NULL,
	[time_Update] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id_prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: CN - 19 - 05 - 2024 12:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[name_role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id_cate], [name_cate], [time_Start], [time_Update]) VALUES (1007, N'123123', 1716038464, 1716038464)
INSERT [dbo].[Category] ([id_cate], [name_cate], [time_Start], [time_Update]) VALUES (1008, N'1', 1716038526, 1716038526)
INSERT [dbo].[Category] ([id_cate], [name_cate], [time_Start], [time_Update]) VALUES (1009, N'645', 1716038584, 1716038584)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([id_login], [username], [password], [id_role], [creadate]) VALUES (11, N'1', N'1', 1, 1)
INSERT [dbo].[Login] ([id_login], [username], [password], [id_role], [creadate]) VALUES (12, N'2', N'2', 2, 2)
INSERT [dbo].[Login] ([id_login], [username], [password], [id_role], [creadate]) VALUES (13, N'3', N'eccbc87e4b5ce2fe28308fd9f2a7baf3', 2, 1716039276)
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id_role], [name_role]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([id_role], [name_role]) VALUES (2, N'Users')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_Login_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id_role])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_Login_Role]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([id_cate])
REFERENCES [dbo].[Category] ([id_cate])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
