@{
    var isAdmin = Session["Admin"] as WebsiteShopDHND.Models.Login;
    var isUser = Session["User"] as WebsiteShopDHND.Models.Login;
}
<div class="header">
    <div class="logo logo-dark">
        <a href="/Home/TrangChu">
            <img src="~/Style/assets/images/logo/logo.jpg" alt="Logo" style="width: 73px;">
            <img class="logo-fold" src="~/Style/assets/images/logo/logo.jpg" alt="Logo" style="width: 73px;">
        </a>
    </div>
    <div class="logo logo-white">
        <a href="/Home/TrangChu">
            <img src="~/Style/assets/images/logo/logo.jpg" alt="Logo" style="width: 73px;">
            <img class="logo-fold" src="~/Style/assets/images/logo/logo.jpg" alt="Logo" style="width: 73px;">
        </a>
    </div>
    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a href="javascript:void(0);">
                    <i class="anticon"></i>
                </a>
            </li>
            <li class="mobile-toggle">
                <a href="javascript:void(0);">
                    <i class="anticon"></i>
                </a>
            </li>
            
        </ul>
        <ul class="nav-right">
            @if (isAdmin != null || isUser != null)
            {
                <li class="dropdown dropdown-animated scale-left">
                    <div class="pointer" data-toggle="dropdown">
                        <div class="avatar avatar-image  m-h-10 m-r-15">
                            <img src="~/Style/assets/images/logo/meomeme.jpg" alt="">
                        </div>
                    </div>
                    <div class="p-b-15 p-t-20 dropdown-menu pop-profile">
                        <a href="/Login/Logout" class="dropdown-item d-block p-h-15 p-v-10">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="anticon opacity-04 font-size-16 anticon-logout"></i>
                                    <span class="m-l-10">Logout</span>
                                </div>
                                <i class="anticon font-size-10 anticon-right"></i>
                            </div>
                        </a>
                    </div>
                </li>
            }
            <li>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#quick-view">
                    <i class="anticon anticon-appstore"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
